<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar y Actualizar Producto</title>
</head>
<body>
<h2>Registrar/Actualizar Producto</h2>

<form action="/producto/guardar" method="post" th:object="${producto}" th:action="@{/producto/guardar}">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" th:field="*{stock}" required>

    <label for="precio">Precio:</label>
    <input type="number" step="0.01" id="precio" name="precio" th:field="*{precio}" required>

    <input type="hidden" id="idproducto" name="idproducto" th:field="*{idproductos}">

    <button type="submit">Guardar</button>
</form>
</body>
</html>
